USE [master]
GO
/****** Object:  Database [Ferreteria502]    Script Date: 31/10/2025 9:12:17 pm ******/
CREATE DATABASE [Ferreteria502]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Ferreteria502', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Ferreteria502.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Ferreteria502_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Ferreteria502_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Ferreteria502].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Ferreteria502]
GO
/****** Object:  Table [dbo].[Clientes]    Script Date: 31/10/2025 9:12:17 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clientes](
	[IdCliente] [int] IDENTITY(1,1) NOT NULL,
	[Nombres] [nvarchar](100) NOT NULL,
	[Nit] [nvarchar](20) NULL,
	[Telefono] [nvarchar](20) NULL,
	[Direccion] [nvarchar](150) NULL,
	[Departamento] [nvarchar](50) NULL,
	[TipoCliente] [nvarchar](50) NULL,
	[Estado] [bit] NOT NULL,
	[UsuarioAuditoria] [nvarchar](50) NULL,
	[FechaAuditoria] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdCliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DetalleEnvios]    Script Date: 31/10/2025 9:12:17 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetalleEnvios](
	[IdDetalleEnvio] [int] IDENTITY(1,1) NOT NULL,
	[IdEnvio] [int] NOT NULL,
	[IdMaterial] [int] NOT NULL,
	[Cantidad] [int] NOT NULL,
	[CostoUnitario] [decimal](10, 2) NOT NULL,
	[CostoTotal] [decimal](10, 2) NOT NULL,
	[Estado] [bit] NOT NULL,
	[UsuarioAuditoria] [nvarchar](50) NULL,
	[FechaAuditoria] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdDetalleEnvio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DetalleVentas]    Script Date: 31/10/2025 9:12:17 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetalleVentas](
	[IdDetalleVenta] [int] IDENTITY(1,1) NOT NULL,
	[IdVenta] [int] NOT NULL,
	[IdMaterial] [int] NOT NULL,
	[Cantidad] [int] NOT NULL,
	[PrecioUnitario] [decimal](10, 2) NOT NULL,
	[Descuento] [decimal](10, 2) NOT NULL,
	[Impuesto] [decimal](10, 2) NOT NULL,
	[Total] [decimal](10, 2) NOT NULL,
	[Estado] [bit] NOT NULL,
	[UsuarioAuditoria] [nvarchar](50) NULL,
	[FechaAuditoria] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdDetalleVenta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Distribuidores]    Script Date: 31/10/2025 9:12:17 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Distribuidores](
	[IdDistribuidor] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[Telefono] [nvarchar](20) NULL,
	[Correo] [nvarchar](100) NULL,
	[Direccion] [nvarchar](150) NULL,
	[Estado] [bit] NOT NULL,
	[UsuarioAuditoria] [nvarchar](50) NULL,
	[FechaAuditoria] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdDistribuidor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Empleados]    Script Date: 31/10/2025 9:12:17 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Empleados](
	[IdEmpleado] [int] IDENTITY(1,1) NOT NULL,
	[Nombres] [nvarchar](100) NOT NULL,
	[Telefono] [nvarchar](20) NULL,
	[Correo] [nvarchar](100) NULL,
	[Cargo] [nvarchar](50) NULL,
	[SalarioBase] [decimal](10, 2) NOT NULL,
	[FechaIngreso] [date] NOT NULL,
	[Estado] [bit] NOT NULL,
	[UsuarioAuditoria] [nvarchar](50) NULL,
	[FechaAuditoria] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdEmpleado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Envios]    Script Date: 31/10/2025 9:12:17 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Envios](
	[IdEnvio] [int] IDENTITY(1,1) NOT NULL,
	[IdVenta] [int] NOT NULL,
	[FechaEnvio] [date] NOT NULL,
	[DireccionEnvio] [nvarchar](150) NOT NULL,
	[VehiculoAsignado] [nvarchar](50) NOT NULL,
	[CostoEnvio] [decimal](10, 2) NOT NULL,
	[Estado] [bit] NOT NULL,
	[UsuarioAuditoria] [nvarchar](50) NULL,
	[FechaAuditoria] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdEnvio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Inventarios]    Script Date: 31/10/2025 9:12:17 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Inventarios](
	[IdInventario] [int] IDENTITY(1,1) NOT NULL,
	[IdSucursal] [int] NOT NULL,
	[IdMaterial] [int] NOT NULL,
	[Cantidad] [int] NOT NULL,
	[FechaUltimaActualizacion] [date] NOT NULL,
	[StockMinimo] [int] NOT NULL,
	[Estado] [bit] NOT NULL,
	[UsuarioAuditoria] [nvarchar](50) NULL,
	[FechaAuditoria] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdInventario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Materiales]    Script Date: 31/10/2025 9:12:17 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Materiales](
	[IdMaterial] [int] IDENTITY(1,1) NOT NULL,
	[IdDistribuidor] [int] NOT NULL,
	[CodigoBarra] [nvarchar](50) NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[Precio] [decimal](10, 2) NOT NULL,
	[Stock] [int] NOT NULL,
	[Categoria] [nvarchar](50) NULL,
	[Estado] [bit] NOT NULL,
	[UsuarioAuditoria] [nvarchar](50) NULL,
	[FechaAuditoria] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdMaterial] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PagosClientes]    Script Date: 31/10/2025 9:12:17 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PagosClientes](
	[IdPagoCliente] [int] IDENTITY(1,1) NOT NULL,
	[IdVenta] [int] NOT NULL,
	[FechaPago] [date] NOT NULL,
	[Monto] [decimal](10, 2) NOT NULL,
	[MetodoPago] [nvarchar](50) NOT NULL,
	[Referencia] [nvarchar](100) NULL,
	[Estado] [bit] NOT NULL,
	[UsuarioAuditoria] [nvarchar](50) NULL,
	[FechaAuditoria] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdPagoCliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PagosDistribuidores]    Script Date: 31/10/2025 9:12:17 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PagosDistribuidores](
	[IdPagoDistribuidor] [int] IDENTITY(1,1) NOT NULL,
	[IdDistribuidor] [int] NOT NULL,
	[FechaPago] [date] NOT NULL,
	[Monto] [decimal](10, 2) NOT NULL,
	[MetodoPago] [nvarchar](50) NOT NULL,
	[Referencia] [nvarchar](100) NULL,
	[Estado] [bit] NOT NULL,
	[UsuarioAuditoria] [nvarchar](50) NULL,
	[FechaAuditoria] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdPagoDistribuidor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PagosEmpleados]    Script Date: 31/10/2025 9:12:17 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PagosEmpleados](
	[IdPago] [int] IDENTITY(1,1) NOT NULL,
	[IdEmpleado] [int] NOT NULL,
	[Anio] [int] NOT NULL,
	[Mes] [int] NOT NULL,
	[SalarioBase] [decimal](10, 2) NOT NULL,
	[HorasExtras] [int] NOT NULL,
	[Bonos] [decimal](10, 2) NOT NULL,
	[Descuentos] [decimal](10, 2) NOT NULL,
	[PagoTotal] [decimal](10, 2) NOT NULL,
	[FechaPago] [date] NOT NULL,
	[MetodoPago] [nvarchar](50) NOT NULL,
	[Estado] [bit] NOT NULL,
	[UsuarioAuditoria] [nvarchar](50) NULL,
	[FechaAuditoria] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdPago] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 31/10/2025 9:12:17 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[IdRol] [int] IDENTITY(1,1) NOT NULL,
	[NombreRol] [nvarchar](50) NOT NULL,
	[Descripcion] [nvarchar](100) NULL,
	[Pantalla] [nvarchar](50) NULL,
	[TipoPermiso] [nvarchar](50) NULL,
	[Estado] [bit] NOT NULL,
	[UsuarioAuditoria] [nvarchar](50) NULL,
	[FechaAuditoria] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdRol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sucursales]    Script Date: 31/10/2025 9:12:17 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sucursales](
	[IdSucursal] [int] IDENTITY(1,1) NOT NULL,
	[NombreSucursal] [nvarchar](100) NOT NULL,
	[Direccion] [nvarchar](150) NULL,
	[Telefono] [nvarchar](20) NULL,
	[Correo] [nvarchar](100) NULL,
	[CodigoPostal] [nvarchar](20) NULL,
	[Estado] [bit] NOT NULL,
	[UsuarioAuditoria] [nvarchar](50) NULL,
	[FechaAuditoria] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdSucursal] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 31/10/2025 9:12:17 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[IdUsuario] [int] IDENTITY(1,1) NOT NULL,
	[IdEmpleado] [int] NOT NULL,
	[IdRol] [int] NOT NULL,
	[NombreUsuario] [nvarchar](50) NOT NULL,
	[Clave] [nvarchar](100) NOT NULL,
	[Estado] [bit] NOT NULL,
	[UsuarioAuditoria] [nvarchar](50) NULL,
	[FechaAuditoria] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ventas]    Script Date: 31/10/2025 9:12:17 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ventas](
	[IdVenta] [int] IDENTITY(1,1) NOT NULL,
	[IdCliente] [int] NOT NULL,
	[IdSucursal] [int] NOT NULL,
	[FechaVenta] [date] NOT NULL,
	[TotalVenta] [decimal](10, 2) NOT NULL,
	[MetodoPago] [nvarchar](50) NOT NULL,
	[Estado] [bit] NOT NULL,
	[UsuarioAuditoria] [nvarchar](50) NULL,
	[FechaAuditoria] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdVenta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Clientes_Nit]    Script Date: 31/10/2025 9:12:17 pm ******/
CREATE NONCLUSTERED INDEX [IX_Clientes_Nit] ON [dbo].[Clientes]
(
	[Nit] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Clientes_Nombres]    Script Date: 31/10/2025 9:12:17 pm ******/
CREATE NONCLUSTERED INDEX [IX_Clientes_Nombres] ON [dbo].[Clientes]
(
	[Nombres] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UX_Clientes_Nit]    Script Date: 31/10/2025 9:12:17 pm ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_Clientes_Nit] ON [dbo].[Clientes]
(
	[Nit] ASC
)
WHERE ([Nit] IS NOT NULL AND [Nit]<>'' AND [Nit]<>'N/A')
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_DetalleEnvios_IdEnvio]    Script Date: 31/10/2025 9:12:17 pm ******/
CREATE NONCLUSTERED INDEX [IX_DetalleEnvios_IdEnvio] ON [dbo].[DetalleEnvios]
(
	[IdEnvio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_DetalleEnvios_IdMaterial]    Script Date: 31/10/2025 9:12:17 pm ******/
CREATE NONCLUSTERED INDEX [IX_DetalleEnvios_IdMaterial] ON [dbo].[DetalleEnvios]
(
	[IdMaterial] ASC
)
INCLUDE([Cantidad],[CostoTotal]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_DetalleVentas_IdMaterial]    Script Date: 31/10/2025 9:12:17 pm ******/
CREATE NONCLUSTERED INDEX [IX_DetalleVentas_IdMaterial] ON [dbo].[DetalleVentas]
(
	[IdMaterial] ASC
)
INCLUDE([Cantidad],[PrecioUnitario],[Total]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_DetalleVentas_IdVenta]    Script Date: 31/10/2025 9:12:17 pm ******/
CREATE NONCLUSTERED INDEX [IX_DetalleVentas_IdVenta] ON [dbo].[DetalleVentas]
(
	[IdVenta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Distribuidores_Nombre]    Script Date: 31/10/2025 9:12:17 pm ******/
CREATE NONCLUSTERED INDEX [IX_Distribuidores_Nombre] ON [dbo].[Distribuidores]
(
	[Nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Empleados_Nombres]    Script Date: 31/10/2025 9:12:17 pm ******/
CREATE NONCLUSTERED INDEX [IX_Empleados_Nombres] ON [dbo].[Empleados]
(
	[Nombres] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Envios_FechaEnvio]    Script Date: 31/10/2025 9:12:17 pm ******/
CREATE NONCLUSTERED INDEX [IX_Envios_FechaEnvio] ON [dbo].[Envios]
(
	[FechaEnvio] ASC
)
INCLUDE([CostoEnvio]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Envios_IdVenta]    Script Date: 31/10/2025 9:12:17 pm ******/
CREATE NONCLUSTERED INDEX [IX_Envios_IdVenta] ON [dbo].[Envios]
(
	[IdVenta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Inventarios_IdMaterial]    Script Date: 31/10/2025 9:12:17 pm ******/
CREATE NONCLUSTERED INDEX [IX_Inventarios_IdMaterial] ON [dbo].[Inventarios]
(
	[IdMaterial] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Inventarios_IdSucursal]    Script Date: 31/10/2025 9:12:17 pm ******/
CREATE NONCLUSTERED INDEX [IX_Inventarios_IdSucursal] ON [dbo].[Inventarios]
(
	[IdSucursal] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Inventarios_Sucursal_Material]    Script Date: 31/10/2025 9:12:17 pm ******/
CREATE NONCLUSTERED INDEX [IX_Inventarios_Sucursal_Material] ON [dbo].[Inventarios]
(
	[IdSucursal] ASC,
	[IdMaterial] ASC
)
INCLUDE([Cantidad],[StockMinimo]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Materiales_IdDistribuidor]    Script Date: 31/10/2025 9:12:17 pm ******/
CREATE NONCLUSTERED INDEX [IX_Materiales_IdDistribuidor] ON [dbo].[Materiales]
(
	[IdDistribuidor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Materiales_Nombre]    Script Date: 31/10/2025 9:12:17 pm ******/
CREATE NONCLUSTERED INDEX [IX_Materiales_Nombre] ON [dbo].[Materiales]
(
	[Nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UX_Materiales_CodigoBarra]    Script Date: 31/10/2025 9:12:17 pm ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_Materiales_CodigoBarra] ON [dbo].[Materiales]
(
	[CodigoBarra] ASC
)
WHERE ([CodigoBarra] IS NOT NULL AND [CodigoBarra]<>'')
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_PagosCli_FechaPago]    Script Date: 31/10/2025 9:12:17 pm ******/
CREATE NONCLUSTERED INDEX [IX_PagosCli_FechaPago] ON [dbo].[PagosClientes]
(
	[FechaPago] ASC
)
INCLUDE([Monto],[MetodoPago]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_PagosCli_IdVenta]    Script Date: 31/10/2025 9:12:17 pm ******/
CREATE NONCLUSTERED INDEX [IX_PagosCli_IdVenta] ON [dbo].[PagosClientes]
(
	[IdVenta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_PagosDist_FechaPago]    Script Date: 31/10/2025 9:12:17 pm ******/
CREATE NONCLUSTERED INDEX [IX_PagosDist_FechaPago] ON [dbo].[PagosDistribuidores]
(
	[FechaPago] ASC
)
INCLUDE([Monto],[MetodoPago]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_PagosDist_IdDistribuidor]    Script Date: 31/10/2025 9:12:17 pm ******/
CREATE NONCLUSTERED INDEX [IX_PagosDist_IdDistribuidor] ON [dbo].[PagosDistribuidores]
(
	[IdDistribuidor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_PagosEmp_Anio_Mes]    Script Date: 31/10/2025 9:12:17 pm ******/
CREATE NONCLUSTERED INDEX [IX_PagosEmp_Anio_Mes] ON [dbo].[PagosEmpleados]
(
	[Anio] ASC,
	[Mes] ASC
)
INCLUDE([PagoTotal],[FechaPago]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_PagosEmp_IdEmpleado]    Script Date: 31/10/2025 9:12:17 pm ******/
CREATE NONCLUSTERED INDEX [IX_PagosEmp_IdEmpleado] ON [dbo].[PagosEmpleados]
(
	[IdEmpleado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Roles_NombreRol]    Script Date: 31/10/2025 9:12:17 pm ******/
CREATE NONCLUSTERED INDEX [IX_Roles_NombreRol] ON [dbo].[Roles]
(
	[NombreRol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Sucursales_Nombre]    Script Date: 31/10/2025 9:12:17 pm ******/
CREATE NONCLUSTERED INDEX [IX_Sucursales_Nombre] ON [dbo].[Sucursales]
(
	[NombreSucursal] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Usuarios_IdEmpleado]    Script Date: 31/10/2025 9:12:17 pm ******/
CREATE NONCLUSTERED INDEX [IX_Usuarios_IdEmpleado] ON [dbo].[Usuarios]
(
	[IdEmpleado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Usuarios_IdRol]    Script Date: 31/10/2025 9:12:17 pm ******/
CREATE NONCLUSTERED INDEX [IX_Usuarios_IdRol] ON [dbo].[Usuarios]
(
	[IdRol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UX_Usuarios_NombreUsuario]    Script Date: 31/10/2025 9:12:17 pm ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_Usuarios_NombreUsuario] ON [dbo].[Usuarios]
(
	[NombreUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Ventas_FechaVenta]    Script Date: 31/10/2025 9:12:17 pm ******/
CREATE NONCLUSTERED INDEX [IX_Ventas_FechaVenta] ON [dbo].[Ventas]
(
	[FechaVenta] ASC
)
INCLUDE([TotalVenta],[MetodoPago]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Ventas_IdCliente]    Script Date: 31/10/2025 9:12:17 pm ******/
CREATE NONCLUSTERED INDEX [IX_Ventas_IdCliente] ON [dbo].[Ventas]
(
	[IdCliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Ventas_IdSucursal]    Script Date: 31/10/2025 9:12:17 pm ******/
CREATE NONCLUSTERED INDEX [IX_Ventas_IdSucursal] ON [dbo].[Ventas]
(
	[IdSucursal] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Clientes] ADD  CONSTRAINT [DF_Clientes_Estado]  DEFAULT ((1)) FOR [Estado]
GO
ALTER TABLE [dbo].[Clientes] ADD  CONSTRAINT [DF_Clientes_FechaAud]  DEFAULT (getdate()) FOR [FechaAuditoria]
GO
ALTER TABLE [dbo].[DetalleEnvios] ADD  CONSTRAINT [DF_DetalleEnvios_Estado]  DEFAULT ((1)) FOR [Estado]
GO
ALTER TABLE [dbo].[DetalleEnvios] ADD  CONSTRAINT [DF_DetalleEnvios_FechaAud]  DEFAULT (getdate()) FOR [FechaAuditoria]
GO
ALTER TABLE [dbo].[DetalleVentas] ADD  CONSTRAINT [DF_DetalleVentas_Estado]  DEFAULT ((1)) FOR [Estado]
GO
ALTER TABLE [dbo].[DetalleVentas] ADD  CONSTRAINT [DF_DetalleVentas_FechaAud]  DEFAULT (getdate()) FOR [FechaAuditoria]
GO
ALTER TABLE [dbo].[Distribuidores] ADD  CONSTRAINT [DF_Distribuidores_Estado]  DEFAULT ((1)) FOR [Estado]
GO
ALTER TABLE [dbo].[Distribuidores] ADD  CONSTRAINT [DF_Distribuidores_FechaAud]  DEFAULT (getdate()) FOR [FechaAuditoria]
GO
ALTER TABLE [dbo].[Empleados] ADD  CONSTRAINT [DF_Empleados_Estado]  DEFAULT ((1)) FOR [Estado]
GO
ALTER TABLE [dbo].[Empleados] ADD  CONSTRAINT [DF_Empleados_FechaAud]  DEFAULT (getdate()) FOR [FechaAuditoria]
GO
ALTER TABLE [dbo].[Envios] ADD  CONSTRAINT [DF_Envios_FechaEnvio]  DEFAULT (CONVERT([date],getdate())) FOR [FechaEnvio]
GO
ALTER TABLE [dbo].[Envios] ADD  CONSTRAINT [DF_Envios_Estado]  DEFAULT ((1)) FOR [Estado]
GO
ALTER TABLE [dbo].[Envios] ADD  CONSTRAINT [DF_Envios_FechaAud]  DEFAULT (getdate()) FOR [FechaAuditoria]
GO
ALTER TABLE [dbo].[Inventarios] ADD  CONSTRAINT [DF_Inv_FechaAct]  DEFAULT (CONVERT([date],getdate())) FOR [FechaUltimaActualizacion]
GO
ALTER TABLE [dbo].[Inventarios] ADD  CONSTRAINT [DF_Inventarios_Estado]  DEFAULT ((1)) FOR [Estado]
GO
ALTER TABLE [dbo].[Inventarios] ADD  CONSTRAINT [DF_Inventarios_FechaAud]  DEFAULT (getdate()) FOR [FechaAuditoria]
GO
ALTER TABLE [dbo].[Materiales] ADD  CONSTRAINT [DF_Materiales_Estado]  DEFAULT ((1)) FOR [Estado]
GO
ALTER TABLE [dbo].[Materiales] ADD  CONSTRAINT [DF_Materiales_FechaAud]  DEFAULT (getdate()) FOR [FechaAuditoria]
GO
ALTER TABLE [dbo].[PagosClientes] ADD  CONSTRAINT [DF_PCli_FechaPago]  DEFAULT (CONVERT([date],getdate())) FOR [FechaPago]
GO
ALTER TABLE [dbo].[PagosClientes] ADD  CONSTRAINT [DF_PagosClientes_Estado]  DEFAULT ((1)) FOR [Estado]
GO
ALTER TABLE [dbo].[PagosClientes] ADD  CONSTRAINT [DF_PagosClientes_FechaAud]  DEFAULT (getdate()) FOR [FechaAuditoria]
GO
ALTER TABLE [dbo].[PagosDistribuidores] ADD  CONSTRAINT [DF_PDist_FechaPago]  DEFAULT (CONVERT([date],getdate())) FOR [FechaPago]
GO
ALTER TABLE [dbo].[PagosDistribuidores] ADD  CONSTRAINT [DF_PagosDistribuidores_Estado]  DEFAULT ((1)) FOR [Estado]
GO
ALTER TABLE [dbo].[PagosDistribuidores] ADD  CONSTRAINT [DF_PagosDistribuidores_FechaAud]  DEFAULT (getdate()) FOR [FechaAuditoria]
GO
ALTER TABLE [dbo].[PagosEmpleados] ADD  CONSTRAINT [DF_PEmp_FechaPago]  DEFAULT (CONVERT([date],getdate())) FOR [FechaPago]
GO
ALTER TABLE [dbo].[Roles] ADD  CONSTRAINT [DF_Roles_Estado]  DEFAULT ((1)) FOR [Estado]
GO
ALTER TABLE [dbo].[Roles] ADD  CONSTRAINT [DF_Roles_FechaAuditoria]  DEFAULT (getdate()) FOR [FechaAuditoria]
GO
ALTER TABLE [dbo].[Sucursales] ADD  CONSTRAINT [DF_Sucursales_Estado]  DEFAULT ((1)) FOR [Estado]
GO
ALTER TABLE [dbo].[Sucursales] ADD  CONSTRAINT [DF_Sucursales_FechaAud]  DEFAULT (getdate()) FOR [FechaAuditoria]
GO
ALTER TABLE [dbo].[Usuarios] ADD  CONSTRAINT [DF_Usuarios_Estado]  DEFAULT ((1)) FOR [Estado]
GO
ALTER TABLE [dbo].[Usuarios] ADD  CONSTRAINT [DF_Usuarios_FechaAud]  DEFAULT (getdate()) FOR [FechaAuditoria]
GO
ALTER TABLE [dbo].[Ventas] ADD  CONSTRAINT [DF_Ventas_FechaVenta]  DEFAULT (CONVERT([date],getdate())) FOR [FechaVenta]
GO
ALTER TABLE [dbo].[Ventas] ADD  CONSTRAINT [DF_Ventas_Estado]  DEFAULT ((1)) FOR [Estado]
GO
ALTER TABLE [dbo].[Ventas] ADD  CONSTRAINT [DF_Ventas_FechaAud]  DEFAULT (getdate()) FOR [FechaAuditoria]
GO
ALTER TABLE [dbo].[DetalleEnvios]  WITH CHECK ADD FOREIGN KEY([IdEnvio])
REFERENCES [dbo].[Envios] ([IdEnvio])
GO
ALTER TABLE [dbo].[DetalleEnvios]  WITH CHECK ADD FOREIGN KEY([IdMaterial])
REFERENCES [dbo].[Materiales] ([IdMaterial])
GO
ALTER TABLE [dbo].[DetalleVentas]  WITH CHECK ADD FOREIGN KEY([IdMaterial])
REFERENCES [dbo].[Materiales] ([IdMaterial])
GO
ALTER TABLE [dbo].[DetalleVentas]  WITH CHECK ADD FOREIGN KEY([IdVenta])
REFERENCES [dbo].[Ventas] ([IdVenta])
GO
ALTER TABLE [dbo].[Envios]  WITH CHECK ADD FOREIGN KEY([IdVenta])
REFERENCES [dbo].[Ventas] ([IdVenta])
GO
ALTER TABLE [dbo].[Inventarios]  WITH CHECK ADD FOREIGN KEY([IdMaterial])
REFERENCES [dbo].[Materiales] ([IdMaterial])
GO
ALTER TABLE [dbo].[Inventarios]  WITH CHECK ADD FOREIGN KEY([IdSucursal])
REFERENCES [dbo].[Sucursales] ([IdSucursal])
GO
ALTER TABLE [dbo].[Materiales]  WITH CHECK ADD FOREIGN KEY([IdDistribuidor])
REFERENCES [dbo].[Distribuidores] ([IdDistribuidor])
GO
ALTER TABLE [dbo].[PagosClientes]  WITH CHECK ADD FOREIGN KEY([IdVenta])
REFERENCES [dbo].[Ventas] ([IdVenta])
GO
ALTER TABLE [dbo].[PagosDistribuidores]  WITH CHECK ADD FOREIGN KEY([IdDistribuidor])
REFERENCES [dbo].[Distribuidores] ([IdDistribuidor])
GO
ALTER TABLE [dbo].[PagosEmpleados]  WITH CHECK ADD FOREIGN KEY([IdEmpleado])
REFERENCES [dbo].[Empleados] ([IdEmpleado])
GO
ALTER TABLE [dbo].[Usuarios]  WITH CHECK ADD FOREIGN KEY([IdEmpleado])
REFERENCES [dbo].[Empleados] ([IdEmpleado])
GO
ALTER TABLE [dbo].[Usuarios]  WITH CHECK ADD FOREIGN KEY([IdRol])
REFERENCES [dbo].[Roles] ([IdRol])
GO
ALTER TABLE [dbo].[Ventas]  WITH CHECK ADD FOREIGN KEY([IdCliente])
REFERENCES [dbo].[Clientes] ([IdCliente])
GO
ALTER TABLE [dbo].[Ventas]  WITH CHECK ADD FOREIGN KEY([IdSucursal])
REFERENCES [dbo].[Sucursales] ([IdSucursal])
GO
ALTER TABLE [dbo].[DetalleEnvios]  WITH CHECK ADD  CONSTRAINT [CK_DetalleEnvios_Valores] CHECK  (([Cantidad]>=(0) AND [CostoUnitario]>=(0) AND [CostoTotal]>=(0)))
GO
ALTER TABLE [dbo].[DetalleEnvios] CHECK CONSTRAINT [CK_DetalleEnvios_Valores]
GO
ALTER TABLE [dbo].[DetalleVentas]  WITH CHECK ADD  CONSTRAINT [CK_DetalleVentas_Valores] CHECK  (([Cantidad]>=(0) AND [PrecioUnitario]>=(0) AND [Descuento]>=(0) AND [Impuesto]>=(0) AND [Total]>=(0)))
GO
ALTER TABLE [dbo].[DetalleVentas] CHECK CONSTRAINT [CK_DetalleVentas_Valores]
GO
ALTER TABLE [dbo].[Envios]  WITH CHECK ADD  CONSTRAINT [CK_Envios_Costo] CHECK  (([CostoEnvio]>=(0)))
GO
ALTER TABLE [dbo].[Envios] CHECK CONSTRAINT [CK_Envios_Costo]
GO
ALTER TABLE [dbo].[Inventarios]  WITH CHECK ADD  CONSTRAINT [CK_Inventarios_Cant_StockMin] CHECK  (([Cantidad]>=(0) AND [StockMinimo]>=(0)))
GO
ALTER TABLE [dbo].[Inventarios] CHECK CONSTRAINT [CK_Inventarios_Cant_StockMin]
GO
ALTER TABLE [dbo].[Materiales]  WITH CHECK ADD  CONSTRAINT [CK_Materiales_Precio_Stock] CHECK  (([Precio]>=(0) AND [Stock]>=(0)))
GO
ALTER TABLE [dbo].[Materiales] CHECK CONSTRAINT [CK_Materiales_Precio_Stock]
GO
ALTER TABLE [dbo].[PagosClientes]  WITH CHECK ADD  CONSTRAINT [CK_PagosCli_Monto] CHECK  (([Monto]>=(0)))
GO
ALTER TABLE [dbo].[PagosClientes] CHECK CONSTRAINT [CK_PagosCli_Monto]
GO
ALTER TABLE [dbo].[PagosDistribuidores]  WITH CHECK ADD  CONSTRAINT [CK_PagosDist_Monto] CHECK  (([Monto]>=(0)))
GO
ALTER TABLE [dbo].[PagosDistribuidores] CHECK CONSTRAINT [CK_PagosDist_Monto]
GO
ALTER TABLE [dbo].[PagosEmpleados]  WITH CHECK ADD  CONSTRAINT [CK_PagosEmp_Anio] CHECK  (([Anio]>=(2000) AND [Anio]<=(2100)))
GO
ALTER TABLE [dbo].[PagosEmpleados] CHECK CONSTRAINT [CK_PagosEmp_Anio]
GO
ALTER TABLE [dbo].[PagosEmpleados]  WITH CHECK ADD  CONSTRAINT [CK_PagosEmp_Mes] CHECK  (([Mes]>=(1) AND [Mes]<=(12)))
GO
ALTER TABLE [dbo].[PagosEmpleados] CHECK CONSTRAINT [CK_PagosEmp_Mes]
GO
ALTER TABLE [dbo].[PagosEmpleados]  WITH CHECK ADD  CONSTRAINT [CK_PagosEmp_Valores] CHECK  (([SalarioBase]>=(0) AND [HorasExtras]>=(0) AND [Bonos]>=(0) AND [Descuentos]>=(0) AND [PagoTotal]>=(0)))
GO
ALTER TABLE [dbo].[PagosEmpleados] CHECK CONSTRAINT [CK_PagosEmp_Valores]
GO
ALTER TABLE [dbo].[Ventas]  WITH CHECK ADD  CONSTRAINT [CK_Ventas_Total] CHECK  (([TotalVenta]>=(0)))
GO
ALTER TABLE [dbo].[Ventas] CHECK CONSTRAINT [CK_Ventas_Total]
GO
USE [master]
GO
